<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        
    </script>
  <form action="/fart" method ="post">
    <input type="text" name="firstName" placeholder="Firstname" required>
    <input type="text" name="lastName" placeholder="Lastname" required>
    <button type ="submit">Submit</button>
  </form>
</body>
</html>