body {
    background-color: #111;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    margin: auto;
}

.sidebar {
    width: 200px;
    background: #111;
    padding-top: 10px;
    border-right: 2px solid #DB0000;
}

.account-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-details h2 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: -110px;
}

.account-info {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.update-form {
    margin-top: 10px;
}

.update-form input {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#updateAccountBtn {
    margin-bottom: 25px;
    border-radius: 90px;
}

#deleteAccountBtn {
    border-radius: 90px;
}

.update-form button:hover {
    background-color: #960000;
}

.input-field {
    margin-top: 5px;
}

.account-info a:hover {
    text-decoration: none;
}

.account-info button {
    background-color: #DB0000;
    color: #fff;
    padding: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account-info button:hover {
    background-color: #960000;
}

.vertical-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vertical-nav li {
    display: block;
    color: #fff;
    padding: 30px 20px;
    text-decoration: none;
    transition: background 0.3s;
    cursor: pointer;
}

.vertical-nav li:hover {
    background: #DB0000;
}


/* Adjustments for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        padding-top: 0;
        border-right: none;
    }

    .vertical-nav li {
        text-align: center;
        padding: 10px 20px;
    }
}

footer p {
    margin-top: 30px;
}

